#   초기 조건 설정

우리가 갖고 있는건 섹터별 단위 시간(=주)에 대한 gap    
    
-> 해당 값들을 % 값 통해 각 섹터에 적용시키고 다시 한 번 가중치 합이 1이 되게 조정 필요    
    
-> 일단 맨 처음 섹터별 비중(=초기 조건)을 설정해줘야 함    
    
-> 이로 인해 KRX 데이터 통해 초기조건 데이터를 갖고 옴

## KRX 자료 가져오기 & 전처리

### KRX 자료 수합 및 산업 분류

우리가 필요한 섹터는    
통신, 헬스케어, 항공, 반도체, 금융(은증보 종합), 자동차, IT    
KRX 분류체계상 다음과 같음
    
-> 통신, 제약+의료정밀기기, 운송창고 , 전기전자, 은행증권보험기타금융, 운송장비부품, 일반서비스

In [4]:
import pandas as pd
import numpy as np
import datetime
import matplotlib as plt

In [5]:
first_date_list = ['20181216', '20190317', '20190623', '20200301', '20201206', 
             '20210214', '20211128', '20220213', '20220724', '20221127', 
             '20230716', '20230924']

sector_list = ['제약', '전기·전자', '의료·정밀기기', '운송장비·부품', '운송·창고', '통신', '은행', '증권', '보험', '기타금융', '일반서비스']

mapping = {
    '제약': '헬스케어',
    '의료·정밀기기': '헬스케어',
    '전기·전자': '반도체',
    '운송장비·부품': '자동차',
    '운송·창고': '항공',
    '통신': '통신',
    '은행': '금융',
    '증권': '금융',
    '보험': '금융',
    '기타금융': '금융',
    '일반서비스': 'IT'
}

for date in first_date_list:
    globals()[f"raw_{date}"] = pd.read_excel(f"raw_{date}.xlsx", engine='openpyxl')
    globals()[f"raw_{date}"].set_index("업종명", inplace=True)
    globals()[f"df_{date}"] = globals()[f"raw_{date}"].loc[sector_list]

    # 여기부터는 섹터 종합하기 
    globals()[f"df_{date}"].rename(index=mapping, inplace=True)
    globals()[f"df_{date}"] = globals()[f"df_{date}"].groupby(globals()[f"df_{date}"].index).sum()

    df = globals()[f"df_{date}"]
    df.index.name = None


    # 각 "_비중" 컬럼을 해당 원본 컬럼의 가중치로 재계산
    for col in df.columns:
        if col.endswith("비중"):
            # '시가총액_비중' → 원본은 '시가총액_금액'
            # '거래량_비중' → 원본은 '거래량_수량'
            # '거래대금_비중' → 원본은 '거래대금_금액'
            measure = col.split("_")[0]
            if measure == "시가총액":
                weight_col = "시가총액_금액"
            elif measure == "거래량":
                weight_col = "거래량_수량"
            elif measure == "거래대금":
                weight_col = "거래대금_금액"
            else:
                continue
            
            total_weight = df[weight_col].sum()
            # 각 행의 가중치 값에 대한 비중 재계산
            df[col] = (df[weight_col] / total_weight) * 100

for date in first_date_list:
    globals()[f"df_{date}"] = globals()[f"df_{date}"].sort_values(by='시가총액_비중', ascending=False)

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [6]:
df_20181216

,회사수,종목수,상장주식수,시가총액_금액,시가총액_비중,거래량_수량,거래량_비중,거래대금_금액,거래대금_비중
반도체,56,66,10830349,361861833,36.835054,41957,23.648671,1076653,34.569348
금융,120,152,13020788,270522237,27.537310,30147,16.992075,586096,18.818465
IT,79,83,3481583,112643932,11.466380,23060,12.997554,287808,9.240986
자동차,54,59,3433636,97386542,9.913282,59237,33.388382,419414,13.466612
헬스케어,49,56,2239857,80866773,8.231683,11502,6.482995,598262,19.209093
통신,4,4,868192,38656006,3.934916,2391,1.347665,81654,2.621760
항공,23,25,1711302,20447092,2.081374,9124,5.142657,64586,2.073738

### 포트폴리오 초기조건 df로 변경

In [7]:
for date in first_date_list:
    globals()[f"first_pf_{date}"] = globals()[f"df_{date}"]['시가총액_비중'].to_frame().T
    df = globals()[f"first_pf_{date}"]
    df.index = [f'{date}']
    df.index.name = '초기조건일'
    df.index = pd.to_datetime(df.index)

In [8]:
first_pf_20190317

,반도체,금융,IT,자동차,헬스케어,통신,항공
초기조건일,,,,,,,
2019-03-17,38.507647,26.906808,11.644225,9.881973,7.670559,3.349129,2.039659

## 주별 섹터별 가중치 계산하기

### Weekly_gap 데이터 수합

In [ ]:
event_date_list = ['20190315', '20190701', '20191006', '20200616', '20210118', '20210503', '20220309', '20220527', '20221102', '20231105', '20231025', '20240103']

mapping = {
    '20190315': '미시(기업리스트)',
    '20190701': '거시(정치이벤트)',
    '20191006': '미시(기업리스크)',
    '20200616': '거시(지정학리스크)',
    '20210118': '미시(기업리스크)',
    '20210503': '미시(제도적변화)',
    '20220309': '거시(정치이벤트)',
    '20220527': '미시(제도적변화)',
    '20221102': '거시(지정학리스크)',
    '20231105': '미시(제도적변화)',
    '20231025': '거시(지정학리스크)',
    '20240103': '거시(정치이벤트)'
}

In [9]:
event_date_list = ['20190315', '20190701', '20191006', '20200616', '20210321', '20210519', '20220309', '20220527', '20221105', '20230306', '20231025', '20240103']

for event_date in event_date_list:
    globals()[f"weekly_gap_{event_date}"] = pd.read_excel(f"weekly_df_gap_{event_date}.xlsx", engine='openpyxl')
    df = globals()[f"weekly_gap_{event_date}"]
    df.set_index("Unnamed: 0", inplace=True)
    df.index.name = 'Date'

In [10]:
weekly_gap_20190315

,weekly_gap_tlcm,weekly_gap_healthcare,weekly_gap_aerospace,weekly_gap_semi,weekly_gap_fin,weekly_gap_automobile,weekly_gap_it
Date,,,,,,,
2018-12-23,0.000000e+00,4.270840e-03,-0.374656,-0.165418,0.247289,0.000000e+00,-0.034787
2018-12-30,0.000000e+00,3.726851e-18,-0.336186,-0.055185,0.253509,0.000000e+00,-0.040783
2019-01-13,0.000000e+00,1.807696e-17,-0.644359,-0.042166,0.003409,-3.132678e-17,-0.008583
2019-01-20,1.336948e-15,0.000000e+00,-0.586605,-0.050235,0.073561,-7.664460e-18,-0.025384
2019-01-27,0.000000e+00,-2.187492e-03,-0.469565,-0.042905,0.213678,0.000000e+00,-0.026000
2019-02-03,0.000000e+00,1.129807e-18,-0.595387,-0.045820,0.324071,-1.244015e-17,-0.012210
2019-02-17,0.000000e+00,-2.289543e-03,-0.595996,-0.071782,0.281579,-1.220526e-17,-0.062253
2019-02-24,0.000000e+00,-2.735818e-03,-0.895468,-0.100056,0.290001,-7.302543e-18,-0.076669
2019-03-03,1.727360e-15,-1.322096e-17,-0.923439,-0.111690,0.323081,-3.297238e-17,-0.069782
2019-03-10,7.064533e-01,0.000000e+00,-0.972881,-0.156280,0.253793,0.000000e+00,-0.034585
2019-03-17,2.147069e-01,-1.142532e-01,-1.231518,-0.170785,0.284120,3.183591e-01,-0.062106
2019-03-24,4.514122e-01,-2.080417e-01,-1.101669,-0.176551,0.298383,1.714044e-01,-0.089244
2019-03-31,-2.494747e-02,-3.929474e-01,-0.999529,-0.150111,0.205832,1.638561e-01,-0.100625
2019-04-07,4.782351e-02,-3.251010e-01,-1.004859,-0.174460,0.304986,3.039042e-01,-0.153754
2019-04-14,-1.756412e-01,-1.369705e-01,-0.972615,-0.199074,0.378380,3.291592e-01,-0.195461
2019-04-21,-3.466086e-02,-8.957312e-02,-1.002023,-0.185991,0.310842,2.487973e-01,-0.197701
2019-04-28,3.527835e-02,-6.597684e-03,-1.197236,-0.218786,0.286400,2.869758e-01,-0.207462
2019-05-12,3.109723e-01,-2.399410e-01,-1.516651,-0.243961,0.181359,3.597328e-01,-0.174770
2019-05-19,5.249713e-02,-3.470553e-01,-1.614783,-0.250976,0.250671,3.528770e-01,-0.138614
2019-05-26,-6.961406e-01,-4.794863e-01,-1.669584,-0.206261,0.362472,4.824670e-01,-0.145830
2019-06-02,-5.846828e-01,-4.518321e-01,-1.283542,-0.235163,0.323872,6.082366e-01,-0.142547
2019-06-09,-5.131726e-02,-3.369162e-01,-1.205734,-0.238920,0.346536,7.138422e-01,-0.127724
2019-06-16,-1.996391e-01,-2.500421e-01,-1.053836,-0.260950,0.315518,7.383140e-01,-0.168495
2019-06-23,-7.497355e-02,-1.690051e-01,-1.031689,-0.243992,0.322822,7.277517e-01,-0.209981

In [11]:
first_pf_20181216

,반도체,금융,IT,자동차,헬스케어,통신,항공
초기조건일,,,,,,,
2018-12-16,36.835054,27.53731,11.46638,9.913282,8.231683,3.934916,2.081374

### 초기조건 df 와 weekly_gap 합치고 섹터별 가중치 계산

df 합치기

In [12]:
for event_date in event_date_list:
    first_date = globals()[f"weekly_gap_{event_date}"].index[0] - pd.Timedelta(days=7)
    first_date = first_date.strftime("%Y%m%d")
    
    df_gap = globals()[f"weekly_gap_{event_date}"]
    df_initial = globals()[f"first_pf_{first_date}"]

    mapping = {
        "weekly_gap_tlcm": "통신",
        "weekly_gap_healthcare": "헬스케어",
        "weekly_gap_aerospace": "항공",
        "weekly_gap_semi": "반도체",
        "weekly_gap_fin": "금융",
        "weekly_gap_automobile": "자동차",
        "weekly_gap_it": "IT"
    }
    df_gap_renamed = df_gap.rename(columns=mapping)

    # --------------------------
    # 4. Calculate the cumulative sum of the weekly gaps
    # --------------------------
 #   df_gap_cumsum = df_gap_renamed.cumsum()

    # --------------------------
    # 5. Add the cumulative gap to the initial condition
    # --------------------------
    # The initial condition is on 2018-12-16. To compute new levels,
    # add the cumulative gap to the initial condition values.
 #   df_updated = df_gap_cumsum.add(df_initial.iloc[0], axis=1)

    # --------------------------
    # 6. Optionally, prepend the initial condition row to have a complete time series.
    # --------------------------
    df_total = pd.concat([df_initial, df_gap_renamed])
    df_total = df_total.sort_index()
    globals()[f"pf_and_weekly_gap_{event_date}"] = df_total

시간대별 섹터 가중치 계산하기    
    
계산방식: 
1. 섹터값 * (1+ 다음 행 값(=gap))

2. 각 행에 대해 수행 후 총합 100 되도록 정규화(섹터별 가중치이므로)

In [13]:
pf_and_weekly_gap_20190315

,반도체,금융,IT,자동차,헬스케어,통신,항공
2018-12-16,36.835054,27.537310,11.466380,9.913282e+00,8.231683e+00,3.934916e+00,2.081374
2018-12-23,-0.165418,0.247289,-0.034787,0.000000e+00,4.270840e-03,0.000000e+00,-0.374656
2018-12-30,-0.055185,0.253509,-0.040783,0.000000e+00,3.726851e-18,0.000000e+00,-0.336186
2019-01-13,-0.042166,0.003409,-0.008583,-3.132678e-17,1.807696e-17,0.000000e+00,-0.644359
2019-01-20,-0.050235,0.073561,-0.025384,-7.664460e-18,0.000000e+00,1.336948e-15,-0.586605
2019-01-27,-0.042905,0.213678,-0.026000,0.000000e+00,-2.187492e-03,0.000000e+00,-0.469565
2019-02-03,-0.045820,0.324071,-0.012210,-1.244015e-17,1.129807e-18,0.000000e+00,-0.595387
2019-02-17,-0.071782,0.281579,-0.062253,-1.220526e-17,-2.289543e-03,0.000000e+00,-0.595996
2019-02-24,-0.100056,0.290001,-0.076669,-7.302543e-18,-2.735818e-03,0.000000e+00,-0.895468
2019-03-03,-0.111690,0.323081,-0.069782,-3.297238e-17,-1.322096e-17,1.727360e-15,-0.923439
2019-03-10,-0.156280,0.253793,-0.034585,0.000000e+00,0.000000e+00,7.064533e-01,-0.972881
2019-03-17,-0.170785,0.284120,-0.062106,3.183591e-01,-1.142532e-01,2.147069e-01,-1.231518
2019-03-24,-0.176551,0.298383,-0.089244,1.714044e-01,-2.080417e-01,4.514122e-01,-1.101669
2019-03-31,-0.150111,0.205832,-0.100625,1.638561e-01,-3.929474e-01,-2.494747e-02,-0.999529
2019-04-07,-0.174460,0.304986,-0.153754,3.039042e-01,-3.251010e-01,4.782351e-02,-1.004859
2019-04-14,-0.199074,0.378380,-0.195461,3.291592e-01,-1.369705e-01,-1.756412e-01,-0.972615
2019-04-21,-0.185991,0.310842,-0.197701,2.487973e-01,-8.957312e-02,-3.466086e-02,-1.002023
2019-04-28,-0.218786,0.286400,-0.207462,2.869758e-01,-6.597684e-03,3.527835e-02,-1.197236
2019-05-12,-0.243961,0.181359,-0.174770,3.597328e-01,-2.399410e-01,3.109723e-01,-1.516651
2019-05-19,-0.250976,0.250671,-0.138614,3.528770e-01,-3.470553e-01,5.249713e-02,-1.614783
2019-05-26,-0.206261,0.362472,-0.145830,4.824670e-01,-4.794863e-01,-6.961406e-01,-1.669584
2019-06-02,-0.235163,0.323872,-0.142547,6.082366e-01,-4.518321e-01,-5.846828e-01,-1.283542
2019-06-09,-0.238920,0.346536,-0.127724,7.138422e-01,-3.369162e-01,-5.131726e-02,-1.205734
2019-06-16,-0.260950,0.315518,-0.168495,7.383140e-01,-2.500421e-01,-1.996391e-01,-1.053836
2019-06-23,-0.243992,0.322822,-0.209981,7.277517e-01,-1.690051e-01,-7.497355e-02,-1.031689

In [14]:
for event_date in event_date_list:
    df = globals()[f"pf_and_weekly_gap_{event_date}"]
    df_updated = df.copy()

    base = df.iloc[0]

    for i in range(1, len(df)):
        # Calculate the new values for the row by applying the rate to the base values
        computed = base * (1 + df.iloc[i])
        
        # Normalize the computed values so that the sum equals 100
        total = computed.sum()
        normalized = computed / total * 100
        
        # Update the row in df_updated
        df_updated.iloc[i] = normalized

    globals()[f"final_sector_weight_{event_date}"] = df_updated
    globals()[f"final_sector_weight_{event_date}"].to_excel(f"final_sector_weight_{event_date}.xlsx", index=True)

In [15]:
final_sector_weight_20190315

,반도체,금융,IT,자동차,헬스케어,통신,항공
2018-12-16,36.835054,27.537310,11.466380,9.913282,8.231683,3.934916,2.081374
2018-12-23,30.873725,34.494277,11.114966,9.955795,8.302291,3.951791,1.307156
2018-12-30,33.534429,33.260717,10.598055,9.552131,7.931794,3.791563,1.331310
2019-01-13,36.335178,28.456099,11.707344,10.209235,8.477433,4.052390,0.762321
2019-01-20,35.458629,29.963516,11.326728,10.047596,8.343213,3.988230,0.872088
2019-01-27,34.224406,32.444761,10.841894,9.623590,7.973651,3.819928,1.071771
2019-02-03,33.202585,34.443956,10.699693,9.364784,7.776227,3.717199,0.795555
2019-02-17,33.151129,34.217922,10.425544,9.611791,7.963061,3.815244,0.815309
2019-02-24,32.648395,34.986166,10.427221,9.763430,8.085071,3.875435,0.214282
2019-03-03,32.060336,35.698526,10.450892,9.713143,8.065494,3.855475,0.156134
2019-03-10,30.591893,33.985542,10.896500,9.758076,8.102805,6.609622,0.055562
2019-03-17,30.146835,34.901226,10.614358,12.899255,7.196340,4.717593,-0.475607
2019-03-24,30.283319,35.696850,10.426396,11.593911,6.508735,5.702062,-0.211273
2019-03-31,32.885505,34.881021,10.832979,12.119864,5.249234,4.030366,0.001030
2019-04-07,30.827296,36.430338,9.836914,13.103856,5.632010,4.179840,-0.010253
2019-04-14,29.424032,37.856385,9.200724,13.141442,7.085375,3.235194,0.056848
2019-04-21,30.302575,36.480497,9.297177,12.511178,7.573951,3.838877,-0.004255
2019-04-28,29.397428,36.188900,9.283772,13.033640,8.353947,4.161698,-0.419385
2019-05-12,29.733285,34.732893,10.102740,14.391587,6.679956,5.507654,-1.148115
2019-05-19,29.490857,36.812444,10.557332,14.335270,5.745067,4.426766,-1.367736
2019-05-26,30.668628,39.355414,10.273679,15.415516,4.494448,1.254191,-1.461876
2019-06-02,29.358942,37.990747,10.245818,16.614130,4.702323,1.703043,-0.615003
2019-06-09,27.792868,36.760486,9.915671,16.843410,5.411264,3.700822,-0.424520
2019-06-16,27.380055,36.434862,9.589376,17.331840,6.209041,3.167527,-0.112700
2019-06-23,27.605947,36.110874,8.980049,16.979069,6.781130,3.608317,-0.065385

In [16]:
for i in range(len(final_sector_weight_20190315)):
    print(final_sector_weight_20190315.iloc[i].sum())

100.0
100.0
100.0
100.00000000000001
100.00000000000001
100.00000000000003
100.00000000000001
100.00000000000001
100.0
100.00000000000001
100.00000000000001
100.0
100.0
99.99999999999997
100.00000000000001
100.00000000000003
99.99999999999996
100.0
100.0
99.99999999999999
100.0
100.00000000000001
99.99999999999999
99.99999999999999
100.0